body {
  padding-top: 50px;
}
.steps-content {
  padding: 40px 15px;
  text-align: center;
}
.panel-default-action {
}
.panel-default-action:hover {
  background-color: #428BCA;
  color: #FFFFFF;
}

.chart-node {
  margin: 5px;
  padding: 5px;
  background-color: blue;
}

.chart-action {
  margin: 2px;
  padding: 2px;
  background-color: green;
}
