<div class="page-header">
  <h2>Charts</h2>
</div>

{{#linkTo 'charts.new'}}
  <div class="panel panel-default panel-default-action">
    <div class="panel-body">
      New Chart
    </div>
  </div>
{{/linkTo}}

{{#each}}
  {{#linkTo 'chart' this}}
    <div class="panel panel-default panel-default-action">
      <div class="panel-body">
        {{ title }}
      </div>
    </div>
  {{/linkTo}} 
{{/each}}
