
<div class="page-header">
  <h2>New Chart</h2>
</div>

<form role="form">
  <div class="form-group">
    <label for="newTitle">Chart Title</label>
    {{input class="form-control" id="newTitle" placeholder="Name of chart" value=newTitle focus-out="createChart" insert-newline="createCarte"}}
  </div>
</div>

