<div class="page-header">
  <h2>Nodes</h2>
</div>

{{#linkTo 'nodes.new'}}
  <div class="panel panel-default panel-default-action">
    <div class="panel-body">
      New Node
    </div>
  </div>
{{/linkTo}}

{{#each}}
  {{#linkTo 'node' this}}
    <div class="panel panel-default panel-default-action">
      <div class="panel-body">
        {{ title }}
      </div>
    </div>
  {{/linkTo}} 
{{/each}}
