
<div class="page-header">
    {{#if isEditing}}
      {{edit-chart class="form-control" value=title focus-out="acceptChanges" insert-newline="acceptChanges"}}
    {{else}}
      <h2 {{action "editNode" on="doubleClick"}}>{{title}}</h2>
    {{/if}}
</div>

{{#linkTo 'actions' this}}
  <div class="panel panel-default panel-default-action">
    <div class="panel-body">
      Actions
    </div>
  </div>
{{/linkTo}} 

