    <h3>Actions</h3>

{{#linkTo 'actions.new'}}
  <div class="panel panel-default panel-default-action">
    <div class="panel-body">
      New Action
    </div>
  </div>
{{/linkTo}}

{{#each}}
  {{#linkTo 'action' this}}
  <div class="panel panel-default panel-default-action">
    <div class="panel-body">
      {{ title }}
    </div>
  </div>
  {{/linkTo}}
{{/each}}
