
<div class="page-header">
  <h2>Add Action</h2>
</div>

{{input class="form-control" id="newTitle" placeholder="Name of action" value=newTitle focus-out="createAction" insert-newline="createAction"}}
